<h1><%= @playlist.name %></h1>
<h2><%= @playlist.description %></h2>
<table>
    <tr>
        <th>Title (on Spotify)</th>
        <th>Artist (on Spotify)</th>
        <th>Title (on Karaoke Machine)</th>
        <th>Artist (on Karaoke Machine)</th>
        <th>Code</th>
        <th>Edit</th>
    </tr>
    <%@playlist.songs.sort_by{|song| song.spotify_artist}.each do |song|  %>
        <tr>
            <td><%= song.spotify_name %></td>
            <td><%= song.spotify_artist %></td>
            <td><%= song.on_karaoke_machine? ? song.title : "Not available" %></td>
            <td><%= song.on_karaoke_machine? ? song.artist : "Not available" %></td>
            <td><%= song.on_karaoke_machine? ? song.code : "Not available" %></td>
            <td><%= button_to "Edit", edit_song_path(song), method: "get", params: {playlist_id: @playlist.id} %></td>
        </tr>
    <% end%>
</table>
